---
title: " "
layout: splash
permalink: /
header:
  overlay_color: "#000"
  overlay_filter: "0.1"
  overlay_image: "/assets/images/hhousev3widentall.jpg"
  cta_label: "Solicitud De Plaza"
  cta_url: "/reserve/"
excerpt: "Nuestra Academia<BR>de Inglés en Argés"
intro: 
  - excerpt: 'Para más información contacte
+34646582945
info@happyhousetoledo.es'

feature_row:
  - image_path: assets/images/open-small.jpg
    alt: "Nuestro Centro"
    title: "Nuestro Centro"
    excerpt: "Nuestra **Academia de Inglés en Argés**, Toledo abrió sus puertas en 2018"
    url: "/about/"
    btn_label: "Aprende más"
    btn_class: "btn--primary"
  - image_path: /assets/images/courses-small.jpg
    title: "Nuestros Cursos"
    excerpt: "Cualquier momento es bueno para aprender, impartimos cursos durante todo el año."
    url: "/courses/"
    btn_label: "Saber más"
    btn_class: "btn--primary"
  - image_path: /assets/images/cambridge-sq.jpg
    title: "Examénes Oficiales"
    excerpt: "Nuestra Academia es centro preparador oficial de los exámenes de Cambridge English."
    url: "/exams"
    btn_label: "Preparación para el examen"
    btn_class: "btn--primary"

---
{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<div align="center" width="90%">
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v5.0"></script>
<div class="fb-page" data-href="https://www.facebook.com/happyhousetoledo" data-tabs="timeline" data-width="400" data-height="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/happyhousetoledo" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/happyhousetoledo">Happy House</a></blockquote></div>
&nbsp;&nbsp;&nbsp;&nbsp;
<a class="twitter-timeline" data-lang="es" data-width="400" data-height="600" href="https://twitter.com/HappyHouseArges?ref_src=twsrc%5Etfw">Tweets by HappyHouseArges</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
